<%= form_with(model: @api_key) do |form| %>
  <div class="mb-3">
    <%= form.label(:name, class: 'form-label') %>
    <%= form.text_field(:name, class: 'form-control') %>
  </div>
  <div class="mb-3">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
<% end %>
